.trash1{
	border:1px solid black;
	margin:5px;
	padding:5px;
	width:420px;
	height:200px;
	float:left;
}
.bin1{
	padding:5px;
	float:left;
	width:200px;
	height:170px;
}
.content{
	padding:5px;
	float:right;
	width:200px;
	height:140px;
	float:left;
}