<!DOCTYPE html>
<html>
<head>
  <meta name="description" content="Smart Bin Content">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, minimum-scale=1">
  <link rel="stylesheet" href="/app/static/css/style.css" type="text/css">
</head>
<body>
  <header>
  <div id="banner">
  <div id="banner-left">Mr. BIN SMART WASTE MANAGEMENT SYSTEM</div>
  </div>
  <nav class="menu">
  <ul>
  <li><a href="/">Home</a></li>
  <li><a href="aboutus.html">About Us</a></li>
  <li><a href="rts.html">Real Time Status</a></li>
  <li><a href="route.html">Optimized Route</a></li>
  </ul>
  </nav>
  </header>
<iframe src="https://www.google.com/maps/d/embed?mid=1VPdR_bG07_Hku48LUB4KwkjzyO72m2MA&hl=en" width="1330" height="640">
</iframe>


</body>
</html>
